@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

/* 애니메이션  */
/* 시작은 안보이게 */
.back-to-position {
    opacity: 0;
    transition: 1s;
}

/* 왼쪽에서 오른쪽으로 등장 */
.back-to-position.to-right {
    transform: translateX(-150px);
}

/* 오른쪽에서 왼쪽으로 등장 */
.back-to-position.to-left {
    transform: translateX(150px);
}

.show .back-to-position {
    opacity: 1;
    transform: translateX(0);
}

.show .back-to-position.delay-1 {
    transition-delay: 0.2s;
}

.show .back-to-position.delay-2 {
    transition-delay: 0.3s;
}

.show .back-to-position.delay-3 {
    transition-delay: 0.5s;
}

header {
    width: 100%;
    height: 80px;
    background-color: #f1e3c4;
}

.main-menu {
    display: flex;
    list-style: none;
    height: 70px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #f1e3c4;
    z-index: 10;
}

.main-menu .menu-img {
    width: 230px;
    height: 50px;
    margin-left: 20px;
    margin-left: 60px;
}

.main-menu .reservation {
    width: 150px;
    height: 50px;
    text-align: center;
}

.main-menu .reservation a {
    text-decoration: none;
    display: block;
    width: 150px;
    height: 40px;
    border: 1px solid #3E3E3E;
    line-height: 40px;
    margin-top: 15px;
    font-family: 'Playfair Display';
    color: #3E3E3E;
    transition: all 0.8s;
}

.main-menu .reservation:hover a {
    background-color: rgba(201, 131, 9, 70%);
    color: #fff;
}

.main-menu .item .item-name {
    width: 150px;
    height: 69px;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 18px;
    color: #3E3E3E;
    display: block;
    text-decoration: none;
    font-size: 17px;
    line-height: 70px;
    margin: 0 20px;
}

.main-menu:nth-child(1) .item .item-name {
    margin-left: 150px;
}

header .logo-img {
    text-align: center;
}

.main-menu .item .content-menu {
    background-color: #f1e3c4;
    position: absolute;
    width: 100%;
    left: 0;
}

.main-menu .item .content-menu .inner {
    display: flex;
    width: 500px;
    background-color: #f1e3c4;
}

.main-menu .item .content-menu .inner li {
    list-style: none;
    margin: 50px 30px;

}

.main-menu .item .content-menu .inner li a {
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 17px;
    color: #3E3E3E;
}

.main-menu .item a:hover {
    color: #c98309;
    border-bottom: 1px solid #c98309;
}

.main-menu .item .content-menu .inner li a:hover {
    color: #c98309;
}

.main-menu .item:nth-child(3) .content-menu .inner {
    margin-left: 420px;
}

.main-menu .item:nth-child(4) .content-menu .inner {
    margin-left: 350px;
}

.main-menu .item:nth-child(5) .content-menu .inner {
    margin-left: 720px;
}

.main-menu .item:nth-child(6) .content-menu .inner {
    margin-left: 800px;
}

.main-menu .item:nth-child(7) .content-menu .inner {
    margin-left: 1100px;
}

.main-menu .item:nth-child(8) .content-menu .inner {
    margin-left: 1380px;
}

/* 메인슬라이드 swiper slide */
.main-slide {
    position: relative;
    height: 600px;
    background: #f6f5ef;
    width: 100%;
    transition: all 0.4s;


}

.main-slide .swiper {
    width: 100%;
    height: 600px;
    text-align: center;
}
.main-slide .swiper .swiper-wrapper .slide-text{
    position: absolute;
    width: 360px;
    height: 120px;
    /* background-color: coral; */
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 20px;
    background:rgb(255, 255,255,0.2);
    color : #fff;
}
.main-slide .swiper .swiper-wrapper .slide-text h2{
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Playfair Display';
    
}
.main-slide .swiper .swiper-wrapper .slide-text p{
    font-size: 18px;
    line-height: 1.5em;
    font-family: 'Noto Sans KR';
}

.main-slide .swiper .swiper-wrapper .slide-text .Rooffop{
    
}
/* .main-slide .swiper .swiper-wrapper .slide-text .main-slide-ontext{
    font-size: 17px;
} */
/* pagination */
.main-slide .swiper .swiper-pagination {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    bottom: 0px;
    width: 200px;
    height: 50px;
}

.main-slide .swiper .swiper-pagination .swiper-pagination-bullet {
    background: url(../imges/promotion_slide_pager.png)no-repeat center;
    width: 13px;
    height: 13px;
    opacity: 1;

}

.main-slide .swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: url(../imges/pp.png)no-repeat center;

}

/* 이전 버튼 다음버튼 */
.main-slide .swiper-prev,
.main-slide .swiper-next {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 270px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    z-index: 10;
    background: transparent;


}

/* .main-slide .swiper-prev, .main-slide .swiper-next{
    width: 42px;
    height: 42px;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 270px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    z-index: 10;
    background: transparent;
} */

.main-slide .swiper-prev {
    /* transform: rotate(180deg); */
    /* background: url(../imges/right_arrow_icon_72.png) #fff no-repeat ; */
    /* top: 240px; */
    color: #fff;
    left: 50%;
    margin-left: -920px;
}

.material-icons {
    font-size: 48px;
}

.main-slide .swiper-next {
    /* background: url(../imges/right_arrow_icon_72.png)no-repeat; */
    color: #fff;
    right: 50%;
    margin-right: -930px;
}

.main-slide .swiper-prev:hover,
.main-slide .swiper-next:hover {
    color: rgb(241, 227, 196);
}

/* .main-slide .swiper-prev:hover,
.main-slide .swiper-next:hover{
    background: #333;
    color: #fff;
} */

.shilla_title {
    margin-top: 200px;
    width: 100%;
    height: 300px;
    text-align: center;
}

.shilla_title h2 {
    font-size: 45px;
    font-family: 'Playfair Display';
    color: rgb(241, 227, 196);
}

.shilla_title p {
    margin-top: 40px;
    font-size: 25px;

}

.shilla_title .shilla_title_text {
    font-family: 'Playfair Display';
    color: rgb(241, 227, 196);
    text-decoration: underline;
    font-size: 13px;
}

.shilla_title .shilla_title_text::after {
    content: "";
    display: block;
    width: 950px;
    height: 100px;
    border-bottom: 3px solid rgb(241, 227, 196);
    margin: 50px 510px 0;

}

/* -------------------------------------------------------- */
/* animate-text 처음부터 잘못함 */
.animate-text {
    padding-top: 150px;
    width: 1200px;
    min-width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0;


}

.animate-text .main-text1 {
    position: absolute;
    margin-left: 160px;
    text-align: center;
    font-size: 25px;
    font-family: 'Playfair Display';

}



.animate-text .left-box1 {
    padding-top: 200px;
}

.animate-text .left-box img {
    width: 600px;
    height: 400px;
}

.animate-text .right-box1 .text {
    position: relative;
    /* right: 130px; */
    /* padding-top: 30px; */
    /* margin-right: 140px; */
    top: 455px;
    /* right: 180px; */
    margin-right: 180px;
}.animate-text .right-box1 .text:nth-child(2) {
    margin: 30px 0;
}

.animate-text .right-box1 .text1 {
    /* margin-top: 330px; */
    font-size: 25px;
    font-family: 'Playfair Display';
}

.animate-text .right-box1 .text2 {
    font-size: 20px;
}


.animate-text .right-box1 .text3 {
    font-size: 15px;
    line-height: 1.5em;

}

.animate-text .right-box1 .text4 {
    position: absolute;
    right: -120px;
    top: 580px;
    width: 90px;
    text-align: right;
    text-decoration: underline;
    font-size: 15px;
}

.animate-text .right-box1 .text4:hover {
    color: rgb(241, 227, 196);
}

.animate-text .left-box2 .text {
    padding: 10px;
    position: relative;
    top: 50px;


}

.animate-text .left-box2 .text5 {
    font-size: 25px;
    font-family: 'Playfair Display';
    margin-top: 260px;
}

.animate-text .left-box2 .text6 {
    font-size: 20px;
}

.animate-text .left-box2 .text8 {
    font-size: 15px;
    line-height: 1.5em;
}

.animate-text .left-box2 .text:nth-child(2) {
    margin: 15px 0;
}

.animate-text .left-box2 .text9 {
    position: absolute;
    left: 490px;
    top: 440px;
    width: 90px;
    text-align: right;
    text-decoration: underline;
    font-size: 15px;
}

.animate-text .left-box2 .text9:hover {
    color: rgb(241, 227, 196);
}

.animate-text .right-box2 img {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 90px;
    right: -60px;
}

.animate-text .right-box3 .text {
    margin-right: 140px;
    position: relative;
    top: 20px;
    right: 35px;
}

.animate-text .right-box3 .text10 {
    font-size: 25px;
    font-family: 'Playfair Display';
    margin-top: 230px;
}

.animate-text .right-box3 .text11 {
    font-size: 20px;
}

.animate-text .right-box3 .text:nth-child(2) {
    margin: 30px 0;
}

.animate-text .right-box3 .text12 {
    font-size: 15px;
    line-height: 1.5em;
}

.animate-text .right-box3 .text13 {
    /* position: absolute;
    left: 430px;
    top: 500px;
    margin-top: -20px;
    margin-right: 100px;
    width: 90px;
    text-decoration: underline;
    font-size: 15px; */

    position: absolute;
    right: -80px;
    top: 370px;
    width: 90px;
    text-align: right;
    text-decoration: underline;
    font-size: 15px;
}

.text13:hover {
    color: rgb(241, 227, 196);
}

.Fitness {
    width: 58%;
    height: 200px;
    text-align: center;
    position: relative;
    top: -50px;
    font-size: 25px;
    margin-top: 80px;
    font-family: 'Playfair Display';
}

.Fitness::before {
    content: "";
    display: block;
    width: 950px;
    height: 100px;
    border-top: 3px solid rgb(241, 227, 196);
    margin: 0px 510px 0;
}


/* 슬라이더 */
.sub-slide {
    overflow: hidden;
    width: 100%;
}

.sub-slide .inner {
    padding: 40px 0;

}
.sub-slide .inner .swiper {
    width: 100%;
    height: 500px;
    margin-left: 70px;
}

.sub-slide .inner .swiper .swiper-slide {
    opacity: 0.5;
    transition: all 1s;
    
}
.sub-slide .swiper .swiper-wrapper .swiper-slide.swiper-slide-active{
    opacity: 1;
}


.sub-slide .inner .swiper .swiper-slide img {
    width: 500px;
    height: 300px;
}

.sub-slide .inner .swiper .swiper-slide .smal_text {
    width: 500px;
    height: 100px;


}

.sub-slide .inner .swiper .swiper-slide h2 {
    width: 500px;
    margin-top: 5px;
    font-size: 18px;
    border-bottom: 2px solid rgb(241, 227, 196);
    font-family: 'Playfair Display';
    line-height: 2em;


}

.sub-slide .inner .swiper .swiper-slide p {
    width: 500px;
    font-size: 15px;
    line-height: 2em;
    font-family: 'Noto Sans KR';
}

.total {
    margin-top: 100px;
    width: 1200px;
    height: 1000px;
    position: relative;

}

.total h1 {
    text-align: center;
    margin: 80px 0;
    font-size: 25px;


}

.total h1::before {
    content: "";
    display: block;
    width: 950px;
    height: 100px;
    border-top: 3px solid rgb(241, 227, 196);
    margin: 0px 510px 0;
}

.total h1 {
    font-family: 'Playfair Display';
}

.total .map {
    width: 700px;
    height: 500px;
    position: absolute;
    left: 400px;
}

.total .map iframe {
    /* filter:grayscale(50%); */
    filter: grayscale(1);

}

.total .map_text {
    width: 500px;
    height: 500px;
    background: rgb(241, 227, 196);
    position: absolute;
    top: 260px;
    left: 1050px;
    /* padding: 10px; */
    line-height: 1.5em;
    /* border-radius: 5%; */
    z-index: 1;
    text-align: center;
    font-family: 'Noto Sans KR';
}

.total .map_text h2 {
    margin: 100px 0 40px;
    font-size: 20px;
}

.total .map_text .map_p {
    margin-bottom: 30px;
}

.total .map_text p {
    font-size: 15px;
    line-height: 2em;
}

.total .map_text .map_p_bottom {
    margin-top: 40px;
}

.total .backgrounfix {
    width: 450px;
    height: 500px;
    background: url(../imges/back.png);
    position: absolute;
    top: 210px;
    left: 1160px;
}


.modal {
    will-change: visibility, opacity;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);

}

.modal--active {
    visibility: visible;
    opacity: 1;
}

.modal--align-top {
    align-items: flex-start;
}

.modal__bg {
    background: transparent;
}

.modal__dialog {
    max-width: 1200px;
    padding: 1.2rem;
}

.modal__content {
    will-change: transform, opacity;
    position: relative;
    padding: 2.4rem;
    background: #ffebee;
    /* background: #fff; */
    /* background: rgb(241, 227, 196); */
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__content h1 {
    margin-bottom: 10px;
    font-family: 'Playfair Display';
}

.modal__content--active {
    opacity: 1;
}

.modal__close {
    z-index: 1100;
    cursor: pointer;
}

.modal__trigger {
    position: relative;
    display: inline-block;
    padding: 1.2rem 2.4rem;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    /* border-radius: 50px; */
    font-family: 'Playfair Display';
}

.modal__trigger:nth-child(2) {
    margin: 0 10px;
}

.modal__trigger--active {
    z-index: 10;
}

.modal__trigger:hover {
    background: #e5d3d6;
}

#modal__temp {
    will-change: transform, opacity;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffebee;
    /* background: #fff; */
    /* background: rgb(241, 227, 196); */
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-btns p {
    text-align: center;
    color: #fff;
}

.demo-btns .modal__trigger {
    margin-right: 3px;
}

.modal__dialog .modal__content img {
    margin-left: -30px;
}


.demo-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.2rem;
    padding: 0.6rem;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-close svg {
    width: 24px;
    fill: #fff;
    pointer-events: none;
    vertical-align: top;
}

.demo-close:hover {
    background: rgba(0, 0, 0, 0.6);
}

/*푸터영역*/
footer {
    overflow: hidden;
    width: 100%;
    height: 500px;
    background-color: #F1EBD6;
}

footer .footer-container {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}

footer .footer-container .company {
    width: 1200px;
    height: 50px;
    padding-top: 50px;
    display: flex;
}

footer .footer-container .footer-main {
    display: flex;
    margin-top: 80px;
}

footer .footer-container .footer-main .logo {
    margin-right: 100px;
}

footer .footer-container .footer-main .text-area {
    display: flex;
    flex-direction: column;
    color: #3e3e3e;
    font-size: 15px;
    font-family: 'Noto Sans KR';
}

footer .footer-container .footer-main .text-area .text-top {
    display: flex;
    margin-bottom: 30px;
}

footer .footer-container .footer-main .text-area .text-top a:hover {
    color: #997321;
    border-bottom: 1px solid #997321;
}

footer .footer-container .footer-main .text-area .text-top div {
    margin-left: 30px;
}

footer .footer-container .footer-main .text-area .text-top div:nth-child(1) {
    margin-left: 0;
}

footer .footer-container .footer-main .text-area .text-top div a {
    text-decoration: none;
    color: #3e3e3e;
}

footer .more {
    width: 300px;
    height: 30px;
    border-bottom: 1px solid #3e3e3e;
    margin-left: 900px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

footer .more>a {
    text-decoration: none;
    color: #3e3e3e;
    font-size: 15px;
    transition: all 0.3s;
}

footer .more>a:hover {
    color: #997321;
}

footer .more a {
    display: block;
}

footer .more a .material-symbols-outlined:hover {
    color: #997321;
}

footer .more a .material-symbols-outlined {
    transition: all 0.3s;
}

footer .horizon {
    width: 100%;
    height: 2px;
    background-color: #3e3e3e;
    margin-top: 20px;
}

footer .footer-sub {
    margin-top: 50px;
}

div .footer-sub .sns {
    width: 170px;
    height: 35px;
    display: flex;
    margin-left: 1020px;
}

div .footer-sub .sns a {
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #3e3e3e;
    margin: 0 10px;
}

div .footer-sub .sns a span {
    font-size: 28px;
    transition: all 0.5s;
}

div .footer-sub .sns a span:hover {
    color: #997321;
}

div .footer-sub .copy {
    font-family: 'Roboto';
    font-size: 15px;
}